/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     background: linear-gradient(155deg, #ccc, #777);
     height: 100px;
}
section {
     background: radial-gradient(#afe3b8, #699fa4);
     flex: 1;
     height: 200px;
}
main, .bottom {
     display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
