/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     border: 2px solid gray;
     clear: both;
     height: 100px;
}

section {
     border: 2px solid gray;
     border-top: 0;
     height: 150px;
     float: left;
     width: 33.3333%;
}

.bottom {
     border-bottom: 0;
     width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
