/* ------ Box Model ------ */
* {
     box-sizing: border-box;
}

/* ------ Clearfix ------ */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/* ------ Base Styles ------ */
body * {
     height: 200px;
}
header, footer {
     background: #555555;
}
main {
     height: 600px;
     background: linear-gradient(86deg, #500000 40%, white calc(40% + 2px));
}
section {
     height: 600px;
     background: linear-gradient(86deg, white 42.5%, #500000 calc(42.5% + 2px));
}

/* ------ Layout ------ */