*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, footer {
    background-color: darkseagreen;
    border: 2px solid darkgray;
    clear: both;
    height: 100px;
}

section.top {
    background-color: azure;
    border: 2px solid darkgray;
    border-top: 0;
    height: 150px;
}

section.bottom > section {
    background-color: lavender;
    border: 2px solid darkgray;
    border-top: 0;
    border-bottom: 0;
    float: left;
    height: 200px;
    width: 40%;
}

section.bottom > section + section {
    border-left: 0;
    width: 60%;
}
