@import url(https://fonts.grooglapis.com/css?family=Oswald:700);

/** {*/
/*     margin: 0;*/
/*}*/
body {
     background: #fce3a7;
}
div {
     position: relative;
     height: 30vh;
}
/*#middle {*/
/*     border: 1px solid black;*/
/*}*/
#middle:after {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     border-style: solid;
     border-color: transparent;
     border-width: 10vh 50vw;
     border-bottom-color: #ecb695;
     border-left-color: #ecb695;
     border-right-color: #ecb695;
}
#bottom {
     background: white;
     height: 40vh;
}