/* ------ Box Model ------ */
* {
     box-sizing: border-box;
}

/* ------ Clearfix ------ */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/* ------ Base Styles ------ */
body * {
     height: 100px;
}
header, footer {
     background: #555555;
}
main {
     height: 600px;
     background:
             repeating-linear-gradient(135deg, transparent 0, rgba(200, 0, 0, .5) 2px, rgba(200, 0, 0, .5) 20px, transparent 22px, transparent 40px),
             repeating-linear-gradient(45deg, transparent 0, rgba(200, 0, 0, .5) 2px, rgba(200, 0, 0, .5) 20px, transparent 22px, transparent 40px);
}

/* ------ Layout ------ */