/*Please make the h1 30px, with a little padding on the left, and thin red border*/
h1 {
    font-size: 30px;
    padding-left: 10px;
    border: thin solid red;
}

/*TODO finish*/




/*ignore*/
/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */

/* Please make "I like turtles." red */

/* Please select "Hello, world!" with the highest level of specificity possible*/

/* Please select "Let's get down to business..." with the highest level of specificity possible */
