/* ------ Box Model ------ */
* {
     box-sizing: border-box;
}

/* ------ Clearfix ------ */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/* ------ Base Styles ------ */
li {
     list-style: none;
}

/* ------ Layout ------ */
nav * {
     float: left;
}
nav > * {
     width: 20%;
}
nav ul {
     width: 40%;
}
nav ul li {
     padding-right: 20px;
}
main > section {
     float: left;
     width: 50%;
}

/* ------ additional styles ------ */
img {
     width: 75%;
}
span {
     position: relative;
}
span:after {
     background-color: #afe3b8;
     bottom: 0;
     content: '';
     left: -.1em;
     position: absolute;
     right: -.1em;
     top: 60%;
     z-index: -1;
}